@{
    ViewData["Title"] = "Home";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>WE ARE THE ELITE</h1>
                <h2>Tha League is a <strong>hip-hop music label</strong> bringing it back to the days when hip-hop was about<strong> connecting people</strong> to their own <strong>power</strong> and helping them elevate their <strong>skills</strong>, not just about making money.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#contact" class="btn-get-started scrollto">Reach Out</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/assets/Hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content text-light">
                <div class="col-lg-6">
                    <p>
                        We are the label behind some of the hottest, most buzzed-about hip-hop acts in Indianapolis.<br /><br />
                        All our artists are super-hot and on the rise, but we're always looking for new talent to add to our roster.
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        At Tha League, we pride ourselves on being a label focused on <strong>quality</strong>, <i>not just in our music but also in our merchandise and products.</i><br /><br />
                        We regularly collaborate with <strong>fashion designers</strong>, <strong>jewelry makers</strong>, and <strong>other brands</strong> to bring you <strong>limited-edition products</strong> that you can't find anywhere else.
                    </p>
                    <a href="#" class="btn-learn-more">Check out our store here!</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content">
                        <h3>The record label for the new generation of hip-hop.</h3>
                        <p>
                            Now playing on all streaming platforms.
                        </p>
                    </div>

                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("~/assets/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a asp-controller="Store" asp-action="Index">Shop</a></h4>
                        <p>We've got all the latest albums from your favorite artists, plus cool merch to show off your love for the gang.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a asp-controller="Artist" asp-action="Index">Learn</a></h4>
                        <p>Learn more about Tha League and our work to bring you music that matters.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a asp-controller="Audio" asp-action="Index">Listen</a></h4>
                        <p>Meet the artists whose music will give you life. View exclusive content that you will only see here.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4><a href="#Contact">Got Talent?</a></h4>
                        <p>We're always looking for new people to join the crew, and if you think you've got what it takes, we want to hear from you!</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Peep our artists' pages</h3>
                    <p> Get to know the people behind the heat.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Check us out!</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title text-light">
                <h2>Contact</h2>
                <p>If you've got what it takes and think you're ready to take your music career to the next level, submit your demo (it can be anything from a recording on your phone to a professional studio track) through our website. If you don't hear back, that's probably because we're already listening to your demo!</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Indianapolis, Indiana</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@tha-league.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 765 209</p>
                        </div>

                        <iframe src="https://www.google.com/maps/d/embed?mid=1udzj_rGi7Ve8oM-KYNdwsunC0Rk&hl=en&ehbc=2E312F" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="https://formspree.io/f/mqkndeaw" method="POST" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="full-name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="full-name" required="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required=""></textarea>
                        </div>
                        <br />
                        <div class="text-center"><button type="submit" value="Submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main>



